@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oswald:wght@500&family=Raleway:wght@300;400;700&display=swap');

body {
  background-color: #F4F4F4;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 720px){
  .container: {
    width: 500px;
  }
}

@media (max-width: 540px){
  .container: {
    width: 300px;
  }
}

.card-white {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  margin-bottom: 24px;
  text-align: center; 
}

.img-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}

h1 {
  color: #555273;
  font-size: 40px;
}

h2 {
  color: #92C188;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #6B72E1;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: black;
}

.btn {
  display: inline-block;
  background-color: #FFC107;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #FFA000;
  color: white;
  transform: scale(1.03);
}

.list-inline {
  list-style: none;
  padding: 0;
  display: flex; 
  justify-content: space-between; 
  width: 70%; 
  margin: 20px auto 0 auto; 
}

.list-inline a {
  color: #92C188;
  font-size: 60px; 
}

.list-inline a:hover {
  color: #555273;
}

